.container
  .show-on-phones
    - unless defined? @on_submit
      .row
        %dl.nice.tabs.mobile
          %dd
            %a{:href => "/submit"} Submit Story
    - if $user
      .row.user-tab
        %dl.nice.tabs.mobile
          %dd
            %a{:href => "/user/#{H.urlencode($user['username'])}"}
              %img.avatar{:src => $user['image'], :height => 32, :width => 32}
              %span.user== #{$user['username']} (#{$user['karma']})
      .row
        %dl.nice.tabs.mobile
          %dd
            %a{:href => "/logout?apisecret=#{$user['apisecret']}"} Logout
    - else
      .row
        %dl.nice.tabs.mobile
          %dd
            %a{:href => "/auth/twitter"} Sign in with Twitter
  .footer-links
    %a{:href => "/"}== #{SiteName} &copy #{Time.now.year}
    %span= "|"
    %a{:href => "http://github.com/foysavas/techbubbler"} Source Code
    %span= "|"
    %a{:href => "/rss"} RSS
    %span= "|"
    %a{:href => "http://twitter.com/#{FooterTwitterLink}"} Twitter
