.container
  %a#site-name{:href => "/"}
    %h1= SiteName
  %nav#nav
    %a{:href => "/"} Top
    %a{:href => "/latest/0"} Latest
    /%a{:href => "/archive"} Archive
  %nav#account.hide-on-phones
    %a{:href => "/submit"} Submit
    - if $user
      %a{:href => "/user/#{H.urlencode($user['username'])}"}
        %img.avatar{:src => $user['image'], :height => 32, :width => 32}
        %span.user
          %span.username== @#{$user['username']}
          %span (#{$user['karma']})
      %a{:href => "/logout?apisecret=#{$user['apisecret']}"} logout
    - else
      %a{:href => "/auth/twitter"} Sign in with Twitter
  #header-floats.hide-on-phones
    #header-float-left
    #header-float-right
