!!! html5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= @title || SiteName
    %link{:href => "/stylesheets/compiled/screen.css?v=#{Revision}", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/images/favicon.png", :rel => "shortcut icon"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:src => "/javascripts/foundation.js"}
    %script{:src => "/javascripts/app.js?v=#{Revision}"}
    - if $user
      %meta{:name => "username", :value => $user['username']}
    -#%script{:src => "http://platform.twitter.com/anywhere.js?id=#{$twitter_options[:consumer_key]}&v=1", :type => "text/javascript"}
    :javascript
      /*
      twttr.anywhere(function (T) {
        //T.linkifyUsers({ className: 'username' });
        T.hovercards({ className: 'username' });
      });
      */
  %body{:class => ($user ? 'with-user' : 'sans-user')}
    #fixed-header
      - if !$user
        #site-description
          %h1 Community Driven News for Tech Entrepreneurs<span class="missing-on-phones"> &amp; Investors</span>
      %header= haml :header
    #not-header
      #content
        .container= yield
      %footer= haml :footer
    = haml :foot
