.user
  .avatar
    %img.profile-image{:src => @user['image'].gsub('_normal.','_bigger.')}
  %h2= H.entities('@'+@user['username'])
  -#.about= H.entities(@user['about'])
  %ul.stats
    %li
      %b== created #{(Time.now.to_i-@user['ctime'].to_i)/(3600*24)} days ago
    %li
      %b== karma #{@user['karma']} points
    %li
      %b== posted news #{@posted_news}
    %li
      %b== posted comments #{@posted_comments}
      - if @owner
        %li
          %a{:href=>"/saved/0"} saved news
    %li
      %a{:href=>"/usercomments/"+H.urlencode(@user['username'])+"/0"} user comments

- if @owner
  %form.nice{:name=>"f"}
    %h2 Settings
    %input#retweet-up-votes{:name => "retweet_upvotes", :type => :checkbox, :value => "1", :checked => (@user['retweet_upvotes'] ? true : false)}
      %label{:for => 'retweet-up-votes'} Retweet up-votes
    %input#mention-me-on-posts{:name => "mention_in_tweets", :type => :checkbox, :value => "1", :checked => (@user['mention_in_tweets'] ? true : false)}
      %label{:for => 'mention-me-on-posts'} Mention me on post tweets
    %button.nice.medium.radius.white.button{:name => "update_profile"} Update
    #errormsg
  :javascript
    $(function() {
        $("button[name=update_profile]").click(update_profile);
    });
