.user
  .avatar
    %img.profile-image{:src=>gravatar_url_for(@user['email'],128)}
  %h2= H.entities(@user['username'])
  .about= H.entities(@user['about'])
  %ul.stats
    %li
      %b== created #{(Time.now.to_i-@user['ctime'].to_i)/(3600*24)} days ago
    %li
      %b== karma #{@user['karma']} points
    %li
      %b== posted news #{@posted_news}
    %li
      %b== posted comments #{@posted_comments}
      - if @owner
        %li
          %a{:href=>"/saved/0"} saved news
    %li
      %a{:href=>"/usercomments/"+H.urlencode(@user['username'])+"/0"} user comments

- if @owner
  %form.nice{:name=>"f"}
    %h2 Edit Profile
    %label{:for => "email"} Email (not public, only used to set user icon with <a href="http://gravatar.com">Gravatar</a>)
    %input#email.input-text.large{:type => :text, :name => "email", :size => 40, :value => H.entities(@user['email'])}
    %label{:for => "password"} Change Password (optional)
    %input.input-text.large{:type => :password, :name => "password", :size => 40}
    %label{:for => "about"} About
    %textarea#about.large{ :name => "about", :cols => 60, :rows => 10}= H.entities @user['about']
    %button.nice.medium.radius.white.button{:name => "update_profile"} Update
    #errormsg
  :javascript
    $(function() {
        $("button[name=update_profile]").click(update_profile);
    });
